*.pyc
.pytest_cache/
__pycache__/
venv/
.env
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.coverage
.coverage.*
htmlcov/
.tox/